#REPOS=[https://github.com/ranjanpandeysbp/property-management, https://github.com/ranjanpandeysbp/core_java]
REPO_TOKEN=your_github_token_here
PR_URL=https://github.com/ranjanpandeysbp/core_java/pull/2
#MODE=PR